body {
    background-color: #303030;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,
h2 {
    padding: 2rem 0 2rem 0;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

button,
label {
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    color: #303030;
    cursor: pointer;
}

button:hover,
label:hover {
    box-shadow: 2px 2px #303030;
    background-color: gray;
}

button {
    border: none;
    font-size: 16px;
}


// creating the modal

#modal-container {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    opacity: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: -1;
    transition: opacity 200ms ease;

    // toggle showing the modal
    &.show {
        opacity: 1;
        z-index: 2;
    }
}

// modal styles
.modal {
    background-color: white;
    color: #303030;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    padding: 1rem;
    
    .modal-header,
    .modal-text {
        align-self: end;
        margin-left: 1rem;
    }

    .modal-header {
        height: 50px;
    }

    hr {
    height: 1px;
    border-width: 0;
    color: lightgray;
    background-color: lightgray;
    width: 100%;
    margin-bottom: 1rem;
    }

    .modal-buttons {
        height: 50px;
        align-self: flex-end;
        justify-content: center;
    }

    & button {
        margin: 0 1rem 0 1rem;
        background-color: lightgray;
    }
}

// variable sizes of modal
.small {
    width: 300px;
}

.medium {
    width: 450px;
}

.large {
    width: 600px;
}

